nav li{
	display: inline-block;
	border-right: 1px solid #1EAEDB;;
}

nav li:last-child{
	border-right: none;
}

nav li a{
	padding: 5px;
	text-decoration: none;
}

.column, .columns, .column:first-child, 
.columns:first-child{
	margin-left: 0%;
}